body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  width: 100%;
  height: 100vh;
  background-color: honeydew;
  /* background: linear-gradient(to bottom, #ffd6e8 0%, #ffffff 100%); */

}


/* .roboto-<uniquifier> {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.sue-ellen-francisco-regular {
  font-family: "Sue Ellen Francisco", cursive;
  font-weight: 400;
  font-style: normal;
} */